@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #212529;
    color: #f8f9fa;
    line-height: 1.6;
    padding: 20px;
}

header {
    background-color: #343a40;
    color: #f8f9fa;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #6c757d;
    padding: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #f8f9fa;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #007bff;
}

section {
    background-color: #f8f9fa;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    background-color: #495057;
    color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
}

h4, h5 {
    color: #f8f9fa;
    margin-top: 20px;
}

p {
    margin-bottom: 15px;
    color: #495057;
}

button {
    background-color: #007bff;
    color: #f8f9fa;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    background-color: #6c757d;
    color: #f8f9fa;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    clear: both;
}


ul, ol, li {
    color: #495057;
    font-size: 1.1em;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: #f8f9fa;
}

.carousel-img {
    max-height: 700px;
    object-fit: cover;
    width: 100%;
}
.carousel-caption h5 {
    font-size: 2rem;
}

@media (max-width: 768px) {
    .carousel-caption h5 {
        font-size: 1.5rem;
    }
}


.card ul {
    padding-left: 1rem;
    margin: 0;
    list-style-position: inside;
}

label {
    color: #495057; 
}
